i	project_name	run_name	data_url	data_size	data_type	basecall_model
1	CHEESE_PRJEB58160	EL2W_ERR11004357	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR110/ERR11004357/el2wfast5.tar.gz	45	fast5	rerio
2	CHEESE_PRJEB58160	WH1M_ERR11007628	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR110/ERR11007628/wh1mfast5.tar.gz	97	fast5	rerio
3	CHEESE_PRJEB58160	OM2_ERR11168802	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR111/ERR11168802/om2fast5.tar.gz	115	fast5	rerio
4	NANOMOTIF_PRJEB74343	ZYMO_ERR13034758	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR130/ERR13034758/rawdata_zymo_HMW_01.tar.gz	170	pod5	dorado
5	NANOMOTIF_PRJEB74343	HUMGUT_ERR13033930	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR130/ERR13033930/rawdata_complex_fecal_02.tar.gz	173	pod5	dorado
6	NANOMOTIF_PRJEB74343	DIGESTER_ERR13033479	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR130/ERR13033479/rawdata_anaerobic_digester_03.tar.gz	640	pod5	dorado
7	NANOMOTIF_PRJEB74343	SOIL_ERR13032732	ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR130/ERR13032732/rawdata_soil_03.tar.gz	767	pod5	dorado
8	DBL_SAMPLES	ZYMOMOCK_DBL	notapplicable	4	pod5	dorado
9	DBL_SAMPLES	CHICKENBENTO_DBL	notapplicable	0.27	pod5	dorado
10	DBL_SAMPLES	CHICKENLAB_DBL	notapplicable	0.24	pod5	dorado
11	DBL_SAMPLES	SLUDGEBENTO_DBL	notapplicable	0.1	pod5	dorado
12	DBL_SAMPLES	SLUDGELAB_DBL	notapplicable	0.02	pod5	dorado
13	DBL_SAMPLES	SLUDGELAB2_DBL	notapplicable	0.2	pod5	dorado
14	DBL_SAMPLES	LAKEBENTO_DBL	notapplicable	0.97	pod5	dorado
15	DBL_SAMPLES	LAKELAB_DBL	notapplicable	1.4	pod5	dorado
